<app-header titulo="Categoria" rota="inicio" cor=""></app-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center">
    <h6>Suas Categorias</h6>
  </ion-text>

  <ion-card *ngFor="let categoria of categorias">
    <ion-item>
      <ion-label>{{categoria.nome}}</ion-label>

      <ion-icon name="trash-outline" color="danger" (click)="excluirCategoria(categoria.id)"></ion-icon>
      <ion-icon name="create-outline" color="warning" (click)="editarCategoria(categoria.id)"></ion-icon>

    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="this.categoriaService.limparIdEditar()" routerLink="/add-categoria" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
