<app-header titulo="Livro" rota="inicio" cor=""></app-header>

<ion-content class="ion-padding">

  <ion-text color="dark" class="ion-text-center">
    <h6>Seus livros</h6>
  </ion-text>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Categoria</ion-label>
            <ion-select cancelText="Cancelar" okText="Confirmar" placeholder="Selecione uma categoria"
              formControlName="categoria">
              <ion-select-option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.nome}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">
            Filtrar
            <ion-icon name="search"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
  <ion-card *ngFor="let livro of livros" style="--background:{{livro.cor}};">
    <ion-item class="{{livro.cor}}">
      <ion-label>
        <h2>{{livro.titulo}}</h2>
        <h6>Por: {{livro.autor}}</h6>
        <h6>{{livro.categoria.nome}}</h6>
      </ion-label>

      <ion-icon name="trash-outline" color="danger" (click)="excluirLivro(livro.id)"></ion-icon>
      <ion-icon name="create-outline" color="warning" (click)="editarLivro(livro.id)"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="limparIdEditar()" routerLink="/add-livro" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
