<app-header titulo="Criar Meta" rota="meta" cor=""></app-header>

<ion-content class="ion-padding">

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Data Início</ion-label>
            <ion-input type="date" formControlName="dataInicio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Data Final</ion-label>
            <ion-input type="date" formControlName="dataFinal"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Número de livros</ion-label>
            <ion-input type="number" formControlName="livrosTotal"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

