<ion-header>
  <ion-toolbar color="{{cor}}">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{rota}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>