<ion-header>
  <ion-toolbar>
    <ion-title>The Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let p of appPages" [routerLink]="p.url" detail>
      <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" slot="start" [color]="p.color"></ion-icon>
      <ion-label>{{p.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
