<app-header titulo="Meta" rota="inicio" cor=""></app-header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center">
    <h6>Suas Metas</h6>
  </ion-text>

  <ion-card *ngFor="let meta of metas">
    <ion-item class="{{meta.classe}}">
      <ion-label>
        <h3>{{meta.dataInicioFormat}} - {{meta.dataFinalFormat}}</h3>
        <h6>{{meta.livrosTotal}} livros</h6>
        <h6>Você já leu {{meta.livrosLidos}} livro(s)</h6>
      </ion-label>

      <ion-icon name="trash-outline" color="danger" (click)="excluirMeta(meta.id)"></ion-icon>
      <ion-icon name="create-outline" color="warning" (click)="editarMeta(meta.id)"></ion-icon>

    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="this.metaService.limparIdEditar()" routerLink="/add-meta" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
