<app-header titulo="Criar Categoria" rota="inicio" cor=""></app-header>
<ion-content class="ion-padding">

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>

