<app-header titulo="Filtrar Livros" rota="livro" cor=""></app-header>

<ion-content>
  <ion-text color="dark" class="ion-text-center">
    <h6>Mostrando os livros de {{categoria.nome}}</h6>
  </ion-text>

  <ion-card *ngFor="let livro of livros" style="--background:{{livro.cor}};">
    <ion-item class="{{livro.cor}}">
      <ion-label>
        <h2>{{livro.titulo}}</h2>
        <h6>Por: {{livro.autor}}</h6>
        <h6>{{livro.categoria.nome}}</h6>
      </ion-label>

      <ion-icon name="trash-outline" color="danger" (click)="excluirLivro(livro.id)"></ion-icon>
      <ion-icon name="create-outline" color="warning" (click)="editarLivro(livro.id)"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
