<app-header titulo="Adicionar Livro" rota="inicio" cor=""></app-header>

<ion-content class="ion-padding">

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Titulo</ion-label>
            <ion-input type="text" formControlName="titulo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Páginas</ion-label>
            <ion-input type="number" formControlName="pag"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Categoria</ion-label>
            <ion-select cancelText="Cancelar" okText="Confirmar" placeholder="Selecione uma categoria"
              formControlName="categoria">
              <ion-select-option selected value="null">Nenhuma</ion-select-option>
              <ion-select-option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.nome}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Autor</ion-label>
            <ion-input type="text" formControlName="autor"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Editora</ion-label>
            <ion-input type="text" formControlName="editora"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Concluído</ion-label>
            <ion-select cancelText="Cancelar" okText="Confirmar" placeholder="Selecione um estado"
              formControlName="concluido">
              <ion-select-option value="0">Não terminou</ion-select-option>
              <ion-select-option value="1">Terminou</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
